/** @type {import('next').NextConfig} */
const nextConfig = {
    experimental: {
        serverActions: true,
    },
    images: {
        domains: ['i.ytimg.com', 'img.youtube.com'],
    },
    // Increase API route timeout for long-running analyses
    api: {
        responseLimit: false,
        bodyParser: {
            sizeLimit: '100mb',
        },
    },
};

module.exports = nextConfig;